html, body {
  margin: 0
}

body {
  width: 100%
}

main {
  margin: 0 auto;
  position: relative;
  width: 640px;
  height: 480px
}

video {
  position: absolute;
  background: #27C142 linear-gradient(45deg, #49CB60 25%, transparent 25%, transparent 50%, #49CB60 50%, #49CB60 75%, transparent 75%) repeat scroll 0% 0% / 30px 30px;
}

#local {
  z-index: 1;
  right: 0;
  top: 75%;
  width: 25%;
  height: 25%
}

#remote {
  width: 100%;
  height: 100%
}

:-webkit-full-screen { width: 100%; height: 100% }
:-moz-full-screen { width: 100%; height: 100% }
:-webkit-full-screen > #remote { background: #000 }
:-moz-full-screen > #remote { background: #000 }